Temp/
Library/
Library.meta

ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.sln
*.csproj
*.unitypackage
*.apk

*.pidb.meta
.#*
sysinfo.txt

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db