LICENSE.meta
README.md.meta

Holojam.dll
Holojam.Core.dll
Holojam.Core.dll.mdb
Holojam.Core.dll.mdb.meta
Holojam.Editor.dll

Temp/
Library/
Library.meta
tmp/
tmp.meta
Builds/

ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.sln
*.csproj
*.unitypackage
*.apk
*.swp

*.pidb.meta
.#*
sysinfo.txt

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Holojam.meta
Dev.meta
Gizmos.meta
Editor.meta

Demo.meta
Materials.meta
Models.meta
Scenes.meta
Scripts.meta
Textures.meta
Examples.meta
Templates.meta

Network.meta
Plugins.meta
Prefabs.meta
Resources.meta
Tools.meta
Utility.meta

FlatBuffers.meta
LICENSE.txt.meta

Vive.meta
Holojam.Vive.dll
Holojam.Vive.Editor.dll
